.family{
 font-family: Arial, Helvetica, sans-serif;
}
.style{
font-style:unset;
}
.font-size{
 font-size: 100px;
  /*font-size: 3.0em;*/ 
}
.weight{
 font-weight:200; ;
}
.variant{
font-variant: small-caps;
}